$maincolor: #1d1d1d;
$secondcolor: #0a0a0a;
$thirthcolor: #fd961a;
$bitcoinnews: #0a0a0a71;
$statSize: 13px;
$statWeight: 800;
$statinfoSize: 12px;
$statinfoColor: #aaa;
$transition: all 0.3s linear;





.about-first-item{
    
    background-image: url(../../../images/about-banner.jpg);
    background-position: cover;
    width: 100%;
    height: 100%;
}

.about-overlay{
    position: relative;
    padding: 70px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 50%;
        border-bottom: 30px solid $secondcolor;
        right: 50%;
        border-right: 150px solid transparent;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        width: 50%;
        border-bottom: 30px solid $secondcolor;
        left: 50%;
        border-left: 150px solid transparent;
    }
}
.about-welcome{
    margin: 0 !important;
    padding: 15px 0;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    span{
        color: $thirthcolor;
    }
    
}
.about-item-area{
    hr{
        margin: 0 auto;
        border-top: 2px solid rgb(255, 255, 255);
        width: 100px;
        opacity: 1 !important;
        
    }
}
.about-bottom-info{
    padding: 20px 0;
    color: #fff;
    .about-bottom-first{
        color: $thirthcolor;
    }
}
.we-are-header{
    color: #fff;
    margin: 20px 0;
}
.we-are-about{
    background-color: $secondcolor;
    padding: 3rem 0;
}
.info-about{
    color: $statinfoColor;
}
.warning-icon{
    padding-bottom: 3px;
}
.info-btn{
    border: 2px solid $thirthcolor;
    width: 200px;
    height: 50px;
    color: $thirthcolor;
    background-color: transparent;
    transition: $transition;
    font-weight: 600;
    &:hover{
        background-color: $thirthcolor;
        color: #fff;
    }
}
.member-area{
    background-color: $secondcolor;
    position: relative;
    padding: 4rem 0;
    width: 100%;
    height: 450px;
}
.member-layout{
    height: 100%;
    background-color: $thirthcolor;
}
.member-header{
    font-size: 40px ;
    font-weight: 700;
    padding: 20px 0;
    color: #fff;
    margin: 0 !important;
    .member-orange{
        color: $thirthcolor;
    }
}
.text-main-dark{
    color: $secondcolor !important;
}
.text-second-dark{
    color: $maincolor !important;
}
.bg-light-area{
    background-color: #E7E7E7 !important;
}
.about-after-light{
    &::before{
        content: "";
        border-bottom: 30px solid #E7E7E7 !important;
    }
    &::after{
        content: "";
         border-bottom: 30px solid #E7E7E7 !important;
    }
}

.member-inner{
    color: $statinfoColor;
}
.member-sec{
    background-color: $maincolor;
    padding: 3rem 0;
    height: 100%;
}
.member-main{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.number-header{
    color: #fff;
    font-weight: 600;
}
.number-bottom{
    color: #fff;
    font-weight: 600;
}

.taks{
    position: relative;
    &::after{
        content: " /";
        position: absolute;
        top: -25px;
        font-weight: 10;
        right: 10px;
        font-size: 5rem;
        color: $thirthcolor;
        width: 1px;
    }
}
.number-btn{

    color: $statinfoColor;
    .see-price{
        border: 2px solid #fd961a;
        width: 200px;
        height: 50px;
        outline: none;
        background-color: transparent;
        color: $thirthcolor;
        transition: $transition;
        font-weight: 600;
        &:hover{
            background-color: $thirthcolor;
            color: #fff;
            
        }
    }
    .register-price{
        border: 2px solid #fd961a;
        width: 200px;
        height: 50px;
        outline: none;
        background-color: $thirthcolor;
        color: $thirthcolor;
        transition: $transition;
        font-weight: 600;
        color: #fff;

        &:hover{
            background-color: transparent;
            color: $thirthcolor;

        }

    }
}