.about-first-item {
  background-image: url(../../../images/about-banner.jpg);
  background-position: cover;
  width: 100%;
  height: 100%;
}

.about-overlay {
  position: relative;
  padding: 70px 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
}

.about-overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  border-bottom: 30px solid #0a0a0a;
  right: 50%;
  border-right: 150px solid transparent;
}

.about-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  border-bottom: 30px solid #0a0a0a;
  left: 50%;
  border-left: 150px solid transparent;
}

.about-welcome {
  margin: 0 !important;
  padding: 15px 0;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.about-welcome span {
  color: #fd961a;
}

.about-item-area hr {
  margin: 0 auto;
  border-top: 2px solid white;
  width: 100px;
  opacity: 1 !important;
}

.about-bottom-info {
  padding: 20px 0;
  color: #fff;
}

.about-bottom-info .about-bottom-first {
  color: #fd961a;
}

.we-are-header {
  color: #fff;
  margin: 20px 0;
}

.we-are-about {
  background-color: #0a0a0a;
  padding: 3rem 0;
}

.info-about {
  color: #aaa;
}

.warning-icon {
  padding-bottom: 3px;
}

.info-btn {
  border: 2px solid #fd961a;
  width: 200px;
  height: 50px;
  color: #fd961a;
  background-color: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 600;
}

.info-btn:hover {
  background-color: #fd961a;
  color: #fff;
}

.member-area {
  background-color: #0a0a0a;
  position: relative;
  padding: 4rem 0;
  width: 100%;
  height: 450px;
}

.member-layout {
  height: 100%;
  background-color: #fd961a;
}

.member-header {
  font-size: 40px;
  font-weight: 700;
  padding: 20px 0;
  color: #fff;
  margin: 0 !important;
}

.member-header .member-orange {
  color: #fd961a;
}

.text-main-dark {
  color: #0a0a0a !important;
}

.text-second-dark {
  color: #1d1d1d !important;
}

.bg-light-area {
  background-color: #E7E7E7 !important;
}

.about-after-light::before {
  content: "";
  border-bottom: 30px solid #E7E7E7 !important;
}

.about-after-light::after {
  content: "";
  border-bottom: 30px solid #E7E7E7 !important;
}

.member-inner {
  color: #aaa;
}

.member-sec {
  background-color: #1d1d1d;
  padding: 3rem 0;
  height: 100%;
}

.member-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.number-header {
  color: #fff;
  font-weight: 600;
}

.number-bottom {
  color: #fff;
  font-weight: 600;
}

.taks {
  position: relative;
}

.taks::after {
  content: " /";
  position: absolute;
  top: -25px;
  font-weight: 10;
  right: 10px;
  font-size: 5rem;
  color: #fd961a;
  width: 1px;
}

.number-btn {
  color: #aaa;
}

.number-btn .see-price {
  border: 2px solid #fd961a;
  width: 200px;
  height: 50px;
  outline: none;
  background-color: transparent;
  color: #fd961a;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 600;
}

.number-btn .see-price:hover {
  background-color: #fd961a;
  color: #fff;
}

.number-btn .register-price {
  border: 2px solid #fd961a;
  width: 200px;
  height: 50px;
  outline: none;
  background-color: #fd961a;
  color: #fd961a;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 600;
  color: #fff;
}

.number-btn .register-price:hover {
  background-color: transparent;
  color: #fd961a;
}
/*# sourceMappingURL=aboutcomponent.css.map */