$maincolor: #1d1d1d;
$secondcolor: #0a0a0a;
$thirthcolor: #fd961a;
$bluetheme:#0095EB;
$bitcoinnews: #0a0a0a71;
$statSize: 13px;
$statWeight: 800;
$statinfoSize: 12px;
$statinfoColor: #aaa;
<<<<<<< HEAD
$transition: all 0.3s linear;
=======
$transition: all 0.2s ease;
>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc


.customize{
    position: fixed;
    z-index: 99999;
    top: 30%;
    left: 0;
    
    .open-button{
<<<<<<< HEAD
        background-color: $maincolor;
=======
        z-index: 1;
        position: relative;
        left:0;
        background-color: $maincolor;
        transition: $transition;
        width: 60px;
>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc
        cursor: pointer;
        color: #fff;
        border: 1px solid rgb(54, 54, 54);
        border-left: 0;
        svg{
            animation: rotateGear 2s linear infinite ;
<<<<<<< HEAD
        }
    }
}
=======
            
        }
        
    }
}
.out-open-button{
    left:-70px !important;
    }

>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc
@keyframes rotateGear{

    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }


}
<<<<<<< HEAD
.style-menu{
=======
.show-style-menu{
    left: 0 !important;
}
.style-menu{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    z-index: 99;
    transition: all .5s ease;
    position:relative;
    left: -200px;
>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc
    width: 200px;
}
.style-header{
    border-bottom: 1px solid $statinfoColor;
    padding: 5px 0;
}
.gold-color{
    color: $thirthcolor;
}
.blue-select{
    color: $bluetheme;
}
.body-style{
<<<<<<< HEAD
=======
    margin: 5px 0;
>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(aqua,skyblue);
    position: relative;
    cursor: pointer;
}
.body-style.night{
    background: linear-gradient(midnightblue,rebeccapurple);
}
.notch{
    width: 35px;
    height: 35px;
    top: 2.5px;
    left: 2.5px;
    border-radius: 50%;
    position: absolute;
    background: yellow;
    box-shadow: 0 0 5px yellow;
    z-index: 1;
    transition: all .3s ease;
}
.night > .notch{
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(40px,0);
}
.shape{
    position: absolute;
    border-radius: 50%;
    background: whitesmoke;
    transition: $transition;
}
.shape.sm{
    width: 25px;
    height: 3px;
    top: 50%;
    left: 60%;
}
.shape.md{
    width: 35px;
    height: 6px;
    top: 25%;
    left: 25%;
    z-index: 2;
}
.shape.lg{
    width: 40px;
    height: 7px;
    bottom: 5px;
    left: 25%;
}
.night .shapes .shape.sm{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transform: translate(-20px,0);
}
.night .shapes .shape.sm:first-of-type{
    transform: translate(-35px,-5px);
}
.night .shapes .shape.md{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: translate(5px,-5px);
}
.night .shapes .shape.lg{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-5px,0);
<<<<<<< HEAD
=======
}
.close-setting{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
>>>>>>> 12e087d3533f4a8192aa5d9a0a5352c5a08ba5dc
}