$maincolor: #1d1d1d;
$secondcolor: #0a0a0a;
$thirthcolor: #fd961a;
$bitcoinnews: #0a0a0a71;
$statSize: 13px;
$statWeight: 800;
$statinfoSize: 12px;
$statinfoColor: #aaa;
$transition: all 0.2s ease;

.slider-main {
  position: relative;
}
.item {
  min-height: 500px;
  margin: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-attachment: fixed;
}


.first-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.slide-title {
  font-size: 68px;
  line-height: 78px;
  font-weight: 600;
  color: #fff;
  span {
    color: $thirthcolor;
  }
}
.slide-button {
  border: 2px solid $thirthcolor;
  background-color: transparent;
  color: $thirthcolor;
  width: 150px;
  height: 50px;
  margin: 20px;
  font-weight: 600;
  transition: $transition;
  &:hover {
    background-color: $thirthcolor;
    color: #fff;
  }
}
