$maincolor: #1d1d1d;
$secondcolor: #0a0a0a;
$thirthcolor: #fd961a;
$bitcoinnews: #0a0a0a71;
$statSize: 13px;
$statWeight: 800;
$statinfoSize: 12px;
$statinfoColor: #aaa;
$transition: all 0.2s ease;

.header-top-wrapper {
  background-color: $maincolor;
  padding: 1.5rem 0;
  transition: $transition;
}
.light-main-bg{
  background-color: rgb(231, 231, 231) !important;
}
.light-main-font{
  color: $secondcolor !important;
}
.light-title-font{
  color: $maincolor !important;
}
.light-second-bg{
  background-color: #E7E7E7 !important;
}
.navbar-brand-mobile {
  display: none;
}
.top-logo {
  width: 132px;
  height: 41px;
}
.status-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  .status-list {
    text-align: left;
    margin: 0 10px;
    list-style: none;
    display: inline-block;
    .btc-live::before {
      content: "$";
    }
    .status-header {
      font-size: $statSize;
      font-weight: $statWeight;
      color: #eeeeee;
      text-align: left;
      margin: 0;
    }
    .status-info {
      font-size: $statinfoSize;
      color: $statinfoColor;
      text-align: left;
    }
  }
}
.login-area {
  .login-btn {
    font-size: $statSize;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    text-align: center;
    color: $thirthcolor;
    text-decoration: none;
    border: 2px solid $thirthcolor;
    transition: $transition;
    &:hover {
      border: 2px solid transparent;
      background-color: $thirthcolor;
      color: #fff;
    }
    svg {
      margin-right: 2px;
    }
  }
  .register-btn {
    font-size: $statSize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    text-align: center;
    background-color: $thirthcolor;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    transition: $transition;

    &:hover {
      border: 2px solid $thirthcolor;
      background-color: transparent;
      color: $thirthcolor;
    }
    svg {
      margin-right: 2px;
    }
  }
}
.hamburger-menu {
  display: none;
}
.navbar-toggler {
  background-color: $thirthcolor;
  outline: none;
  svg {
    color: #fff;
    font-size: 1.5rem;
  }
}
.navbar-area{
  background-color: $secondcolor;
  min-height: 47px !important;
  padding: 5px 0 !important;
}

.forSticky{
  margin-bottom: 47px !important;
}
.navbar {
  
  transition: $transition;
  justify-content: center;
  position: relative;
}
.navbar {
  padding: 0 !important;
}
.navbar-wrapper {
  .navbar-nav {
    flex-direction: row;

    .nav-item {
      padding: 5px 5px;
      margin: 0px 2px;
      position: relative;
      .nav-link {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        transition: $transition;
        &:hover {
          color: $thirthcolor !important;
        }
        svg {
          vertical-align: -2px;
        }
        .search-icon {
          font-weight: 700;
        }
      }
    }
  }
}

.drop-nav {
  background-color: $maincolor;
  margin: 0 !important;
  border-radius: 0;
  border: 0;
  padding: 0;
  border-right: 1 px solid rgba(255, 255, 255, 0.09);
  border-bottom: 1 px solid rgba(255, 255, 255, 0.09);
  border-left: 1 px solid rgba(255, 255, 255, 0.09);
  .drop-item {
    list-style: none;
    .drop-link {
      font-weight: 600;
      font-size: $statinfoSize;
      line-height: normal;
      display: block;
      padding: 15px 20px;
      text-decoration: none;
      color: $statinfoColor;
      &:hover {
        background-color: $secondcolor;
        color: $thirthcolor;
      }
    }
  }
}
.dropdown-toggle::after {
  display: none !important;
}
.search-button {
  cursor: pointer;
}
.search-area {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);

  .search-inputs {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden !important;
    position: relative;
    height: 0;
    transition: $transition;

    form {
      #search {
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        width: 800px;
        color: #fff;
        font-size: 16px;

        &::placeholder {
          color: $statinfoColor;
          font-weight: 500;
        }
      }
    }
    .close-search-bar {
      cursor: pointer;
      color: $statinfoColor;
    }
  }
}
.navbar-collapse {
  justify-content: center;
}
.w-border {
  border-bottom: 1px solid $thirthcolor;
}
.open {
  height: 80px !important;
}
.stickyNav{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid $maincolor;
}