.header-top-wrapper {
  background-color: #1d1d1d;
  padding: 1.5rem 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.light-main-bg {
  background-color: #e7e7e7 !important;
}

.light-main-font {
  color: #0a0a0a !important;
}

.light-title-font {
  color: #1d1d1d !important;
}

.light-second-bg {
  background-color: #E7E7E7 !important;
}

.navbar-brand-mobile {
  display: none;
}

.top-logo {
  width: 132px;
  height: 41px;
}

.status-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.status-area .status-list {
  text-align: left;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
}

.status-area .status-list .btc-live::before {
  content: "$";
}

.status-area .status-list .status-header {
  font-size: 13px;
  font-weight: 800;
  color: #eeeeee;
  text-align: left;
  margin: 0;
}

.status-area .status-list .status-info {
  font-size: 12px;
  color: #aaa;
  text-align: left;
}

.login-area .login-btn {
  font-size: 13px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95px;
  text-align: center;
  color: #fd961a;
  text-decoration: none;
  border: 2px solid #fd961a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-area .login-btn:hover {
  border: 2px solid transparent;
  background-color: #fd961a;
  color: #fff;
}

.login-area .login-btn svg {
  margin-right: 2px;
}

.login-area .register-btn {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 45px;
  text-align: center;
  background-color: #fd961a;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-area .register-btn:hover {
  border: 2px solid #fd961a;
  background-color: transparent;
  color: #fd961a;
}

.login-area .register-btn svg {
  margin-right: 2px;
}

.hamburger-menu {
  display: none;
}

.navbar-toggler {
  background-color: #fd961a;
  outline: none;
}

.navbar-toggler svg {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-area {
  background-color: #0a0a0a;
}

.forSticky {
  margin-bottom: 47px !important;
}

.navbar {
  min-height: 47px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.navbar {
  padding: 0 !important;
}

.navbar-wrapper .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-wrapper .navbar-nav .nav-item {
  padding: 5px 5px;
  margin: 0px 2px;
  position: relative;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link:hover {
  color: #fd961a !important;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link svg {
  vertical-align: -2px;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link .search-icon {
  font-weight: 700;
}

.drop-nav {
  background-color: #1d1d1d;
  margin: 0 !important;
  border-radius: 0;
  border: 0;
  padding: 0;
  border-right: 1 px solid rgba(255, 255, 255, 0.09);
  border-bottom: 1 px solid rgba(255, 255, 255, 0.09);
  border-left: 1 px solid rgba(255, 255, 255, 0.09);
}

.drop-nav .drop-item {
  list-style: none;
}

.drop-nav .drop-item .drop-link {
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #aaa;
}

.drop-nav .drop-item .drop-link:hover {
  background-color: #0a0a0a;
  color: #fd961a;
}

.dropdown-toggle::after {
  display: none !important;
}

.search-button {
  cursor: pointer;
}

.search-area {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.search-area .search-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden !important;
  position: relative;
  height: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-area .search-inputs form #search {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  width: 800px;
  color: #fff;
  font-size: 16px;
}

.search-area .search-inputs form #search::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.search-area .search-inputs form #search:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.search-area .search-inputs form #search::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.search-area .search-inputs form #search::placeholder {
  color: #aaa;
  font-weight: 500;
}

.search-area .search-inputs .close-search-bar {
  cursor: pointer;
  color: #aaa;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-border {
  border-bottom: 1px solid #fd961a;
}

.open {
  height: 80px !important;
}

.stickyNav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #1d1d1d;
}
/*# sourceMappingURL=header.css.map */